<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uvce.com.impetus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".NotificationHandle"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".TokenRefresh">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notificationColor" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="Upcoming Events"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".EventInfoActivity"
            android:label="Event info"/>
        <activity android:name=".RegisterActivity"
            android:label="Register"/>
        <activity android:name=".RegisteredActivity" />
        <activity android:name=".ConfirmKeyActivity"
            android:label="Key"/>
        <activity android:name=".ViewAllActivity" />
        <activity android:name=".MyAccountActivity"
            android:label="My account"/>
        <activity android:name=".ScheduleActivity"
            android:label="Scheduled events"/>
        <activity android:name=".ShowScheduleActivity"
            android:label="Scheduled events"/>
        <activity android:name=".NotificationActivity"
            android:label="Send Notification"/>

    </application>

</manifest>